*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}

.container{
  width: 400px;
  height: 600px;
   
}

.row{
  display: flex;
  width: 100%;
}

 
 
.button{
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background: #e0e1e6;
  color: #888;
  outline: 1px solid #888;
  width: 4em;
}

.operator{
  background-color: #fe9241;
}

.screen{
  display: flex;
  height: 6em;
  flex: 1;
  background: black;
  outline: 1px solid #888;
  color: white;
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  align-items: center;
 
}

 
.clear{
  display: flex;
  flex: 1;
  height: 4em;
  align-items: center;
  justify-content: center;
  background: gray;
  border:3px solid black;
  
}

#display{
  min-height: 90px;
}